.header{
  background-color: #171c21;
  font-size: 20px;
}

.nav-link{
  color: rgba(240, 248, 255, 0.432);
}
.isCurrent {
  font-weight: bold;
}

.isCurrent a, .nav-link:hover {
  color: aliceblue;
}